@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

@media (max-width: 575.98px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 3.25rem;
    letter-spacing: 0.2em;
  }
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  color: #23303E;
  background-color: white;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

/* Dropdown Menu */
.triangle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid white;
  right: 0;
  top: -30px;
}

.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: white;
  opacity: 1;
}
